@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1591294876500'); /* IE9 */
  src: url('iconfont.eot?t=1591294876500#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABngAAAKHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIEOATYCJAMICwYABCAFhG0HLxuzBciusCnD9UigMhtQUBBerx0c7MeZePh+v3bu/28XcU0ikkQTmUQjFGiQoBUykdCZ7iXs/67pHwC51A1LrlUjUggHyQE2l7Eea0CH/Dwrfn4TbnUDt/RZKO//B5OPKYH1l/l4AD7P5fQm0IHMD5TLmosWHwbUiwMpwL0wynsBFxA2jF3gEu4TqNSrVMRebXMbxEusZYG4UyQO4nM5SWLNcqFYszeJVygoz54jn/AS/j7+zUQ8mULO6jm9rRGh/KvOXhD18P/gJn+Ep/kiYIfIMQ0k4rK2dixKMC5KZS3aINhXZ/DVPz8g9vrniSKrvRp0Q9096V3DrTYzuK2xRoHZUZ9BjE62L263cNfn4217Bd2bT+9Ymm9u23pZ73pxx8HlorC829Z5uDAUxTt/Tcc3ZYWxhV03HwKlua6s8D92PnrhcJMr6w5kVr2nwtjY8Xe9zl8KKAdKHF2WP0IgOHq77hhMW/uOL4FPNxuhqV+C8l3Hg19kTbMQTLrR8mVJ9ZWgwczoqdVQw5NKWalGn2NdLffTCuVaRiTK9KTIlRsmEzuNgipzKCq3iUpT6g5XaUJFiVSBSVMAod4pMrXekav3TCb2AwWtvlBUH1GodB1NZ1YZDSVxl2KOYRHx40gRLJM4QZYYdbZgaVjnaNYY8h2YOkoR+dzeYrMOm5jOscEZkfyMEUSoZaBa8BjWdQvZ1FKxwNwyY3bQ4yF1L3ILlgGJdlEYh8FECG8cohBYTMQfziSWvt8CkwzTcWiLoqbaAaMcyuSIj5u3B1lnM3sp7uUZxwiJH8MQCEFZDEgtmIXpdBbErp+lwgSMmzyiYgvy2P1IX5t7fYfxdUegkuXOwp6SK9wzjjIAAA==') format('woff2'),
  url('iconfont.woff?t=1591294876500') format('woff'),
  url('iconfont.ttf?t=1591294876500') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1591294876500#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-start:before {
  content: "\e60f";
}

